.VM{
    background-color: rgb(111, 187, 206);
    margin: 10px;
    padding: 10px;
}

.Etape{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 15pt;
    border-radius: 5pt;
    color: white;


}

.Etape-Titre{
    font-size: 14pt;
    font-weight: bolder;
}

.Code{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding:  5pt; 
    border-radius: 5pt;
    font-stretch: ultra-expanded;
    margin-top: 5px;
   margin-bottom: 10px;

}

.Code-Chemin{
    color: aquamarine;
    /* background-color: blueviolet; */
    display: inline;
}

.Victime {
    background-color: rgb(104, 37, 59);

}


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-stretch: ultra-expanded;
}

li {
    padding: 5px 0 10px 7px ;
    font-size: larger;
}

ol{
    padding: 0 0 0 20px;
}

.DebutEtapeTitre {
    text-decoration: solid;
    text-transform: uppercase;
    display: inline;
}

.Cible {
    background-color: palevioletred;
}

.Attaque {
    background-color: rgb(80, 35, 80);
}

.Attaque.Cible {
    background-color: rgb(39, 39, 94);
}

.VM.Attaque {
    background-color: rgb(141, 101, 141);
    border-radius: 5pt;
}

.VM.Victime {
    background-color: rgb(141, 101, 111);
    border-radius: 5pt;
}

.TitreVM.Victime , .TitreVM.Attaque {
    background-color: transparent;
    font-size: xx-large;
    font-weight: bold;
    padding: 15px;
}

.TitreVM.Victime {
    color: rgb(104, 37, 59);
    
}

.TitreVM.Attaque {
    color:  rgb(80, 35, 80);
   
}